@using Abp.Web.Mvc.Extensions;
@model DemoForBoilerplate.MyTasks.Dtos.GetMyTaskOutput
@{
	ViewBag.Title = "Tasks";
}
@section scripts{
	@Html.IncludeScript("~/Views/MyTasks/Index.js")
}
<div class="row">
	<div class="alert alert-info" id="optionInfo" style="text-align:center; display:none">

	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="panel-title">
					<div class="row">
						<div class="col-md-6">
							<h2>
								@L("Task Management")
							</h2>
						</div >
						<div class="col-md-6 text-right">
							<a href="@Url.Action("BootstrapTable")">
								<button class="btn btn-info">BootStrapTable</button>
							</a>
						</div>
					</div>

				</div>
			</div>
			<div class="panel-body">
				<table class="table table-bordered">
					<tr>
						<th>@L("Task Id")</th>
						<th>@L("Person")</th>
						<th>@L("Task Description")</th>
						<th>@L("Creation Time")</th>
						<th>@L("Task State")</th>
						<th>@L("Operation")</th>
					</tr>
					@foreach (var item in Model.Tasks)
					{
						<tr id="tr-@item.Id">
							<td>@item.Id</td>
							<td>@item.AssignedPersonName </td>
							<td>@item.Description</td>
							<td>@item.CreationTime</td>
							<td>@(@item.State == 0 ? @L("Active") : @L("Completed"))</td>
							<td>
								<div class="btn-group" role="group">
									@Ajax.ActionLink(L("Edit"), "EditTask", new { controller = "MyTasks", id=@item.Id }, new AjaxOptions { UpdateTargetId = "ajaxmodal", InsertionMode = InsertionMode.Replace, HttpMethod = "get", OnComplete = "showModal" }, new { type="button", @class="btn btn-primary", style="text-decoration:none"})
									<button type="button" class="btn btn-danger delete-task" onclick="deletetask(@item.Id)">@L("Delete")</button>
								</div>
							</td>
						</tr>
					}
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		@Ajax.ActionLink("CreateNewTask", "CreateMyTask",new { controller="MyTasks"}, new AjaxOptions { UpdateTargetId = "ajaxmodal", InsertionMode = InsertionMode.Replace,HttpMethod = "get",OnComplete="showModal"}, new { type="button", @class="btn btn-primary"})
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="modal fade" id="TaskCreateModal" tabindex="-1" role="dialog" aria-labelledby="TaskCreateModalLabel" data-backdrop="static">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<form name="taskCreateForm" id="ajaxmodal" role="form" novalidate class="form-validation">
						
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	function showModal() {
		$('#TaskCreateModal').modal();
	}

	function deletetask(id){
		$.ajax({
			url: "/api/services/app/MyTask/DeleteMyTask",
			type: "post",
			data:JSON.stringify({Id:id}),
			contentType:"application/json",
			success: function (data) {
				$('#optionInfo').text("@L("Delete Successful ! ")");
				$('#optionInfo').show(1000);
				setTimeout(function(){
					$('#optionInfo').hide(1000);
					$('#tr-'+id).remove();
				},3000);
			},

			error: function (data) {
				console.error(data);
			}
		})
	}
	
</script>
